<h4 class="list-group-item-heading">{{title}}</h4>
<p class="list-group-item-text">{{description}}</p>
<br>
<a href="/#/edit/{{id}}" class="btn btn-info" name="edit">Edit</a>
<button id="delete" class="btn btn-primary" name="edit">Delete</button>
